body {
  max-width: 960px;
  margin: 0 auto;
}
.table,
form {
  margin-top: 50px;
  margin-bottom: 50px;
}
.table {
  display: grid;
  grid-template-columns: minmax(auto-fit, 1fr);
}
thead {
  font-weight: bold;
}
